[suites]
standard_parallel = HGP_richards_small_domain-np7
                    HGP_th_small_domain-np7

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
generic = 1.0e-12 absolute
concentration = 1.0e-12 absolute
discrete = 0 absolute
rate = 1.0e-12 absolute
volume fraction = 1.0e-12 absolute
pressure = 1.0e-12 absolute
saturation = 1.0e-12 absolute
charge balance = 1.0e-12 absolute

[HGP_richards_small_domain-np7]
skip_check_gold = true
np=7
input_arguments = -num_realizations 2 -num_slaves 4 -num_groups 1 -stochastic

[HGP_th_small_domain-np7]
skip_check_gold = true
np=7
input_arguments = -num_realizations 2 -num_slaves 4 -num_groups 1 -stochastic

