[suites]
flow = liquid_gas gas_injection gas_injection-np4 case5 1d_flux
#transport = 
geochemistry = calcite_flow_and_tran_general
standard = liquid_gas gas_injection case5 calcite_flow_and_tran_general 
           1d_flux 1d_zero_cp
standard_parallel = gas_injection-np4

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
generic = 1.0e-12 absolute
concentration = 1.0e-12 absolute
discrete = 0 absolute
rate = 1.0e-12 absolute
volume fraction = 1.0e-12 absolute
pressure = 1.0e-12 absolute
saturation = 1.0e-12 absolute
charge balance = 1.0e-12 absolute

[liquid_gas]
pressure = 5.0e-9 relative
generic = 1.0e-7 relative
saturation = 1.0e-6 relative

[gas_injection]
pressure = 5.0e-8 relative
generic = 5.0e-7 relative
saturation = 1.0e-6 relative, min_threshold 1.e-6

[gas_injection-np4]
np=4
pressure = 5.0e-8 relative
generic = 1.0e-7 relative
saturation = 1.0e-6 relative, min_threshold 1.e-6

[case5]
pressure = 1.0e-8 relative
generic = 1.0e-8 relative
saturation = 5.0e-6 relative

[calcite_flow_and_tran_general]
pressure = 1.0e-9 relative
generic = 1.0e-8 relative
saturation = 1.0e-6 relative

[1d_flux]
pressure = 1.0e-11 relative
generic = 5.0e-9 relative
saturation = 1.0e-10 relative

[1d_zero_cp]
pressure = 1.0e-11 relative
generic = 5.0e-9 relative
saturation = 1.0e-10 relative
