[suites]
#standard = stochastic_regional_doublet_small
#standard_parallel = stochastic_regional_doublet-np8
standard = regional_doublet_small
standard_parallel = regional_doublet_small-np8

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
generic = 1.0e-12 absolute
concentration = 1.0e-12 absolute
discrete = 0 absolute
rate = 1.0e-12 absolute
volume fraction = 1.0e-12 absolute
pressure = 1.0e-12 absolute
saturation = 1.0e-12 absolute
charge balance = 1.0e-12 absolute

[stochastic_regional_doublet_small]
pressure = 1.e-12 relative
input_arguments = -stochastic -num_realizations 4 -num_groups 1

[stochastic_regional_doublet_small-np8]
np=8
input_arguments = -stochastic -num_realizations 4 -num_groups 2 -screen_output off

[regional_doublet_small]
pressure = 1.e-12 relative
input_arguments = -realization_id 3

[regional_doublet_small-np8]
pressure = 1.e-12 relative
saturation = 1.0e-12 relative
concentration = 1.0e-12 relative
np=8
input_arguments = -realization_id 3

